<div class="container my-5">
  <h1 class="text-center">My Bookings</h1>
  <ul class="nav nav-pills my-4 d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item me-1" role="presentation">
      <button class="btn btn-secondary btn-sm active fs-5 text" id="pills-my-pending-bookings-tab" data-bs-toggle="pill" data-bs-target="#pills-my-pending-bookings" type="button" role="tab" aria-controls="pills-my-pending-bookings" aria-selected="false">Pending Bookings</button>
    </li>
    <li class="nav-item me-1" role="presentation">
      <button class="btn btn-secondary btn-sm fs-5 text" id="pills-confirmed-bookings-tab" data-bs-toggle="pill" data-bs-target="#pills-confirmed-bookings" type="button" role="tab" aria-controls="pills-confirmed-bookings" aria-selected="false">Confirmed Bookings</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-my-pending-bookings" role="tabpanel" aria-labelledby="pills-my-pending-bookings-tab">
        <div class="cards-puppy">
          <% @pending_bookings.each do |booking| %>
            <div class="card-puppy-home">
              <div class="card-puppy">
                <%= cl_image_tag booking.puppy.photos.first.key %>
              </div>
              <div class="p-4">
                <div class="card-puppy-infos">
                  <div>
                    <p class="breed"><%= booking.puppy.breed %></p>
                    <h2><%= booking.puppy.name %></h2>
                    <p class="card-puppy-pricing"><strong>$<%= booking.total_cost_per_night %> total</strong></p>
                    <p class="card-puppy-pricing"><%= booking.start_date.strftime("%b %d, %Y") %> - <%= booking.end_date.strftime("%b %d, %Y") %></p>
                    <%= link_to edit_booking_path(booking) do %>
                      <i class="fas fa-pen-square me-3"></i>
                    <% end %>
                    <%= link_to my_bookings_path(booking), method: :delete do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>


    <div class="tab-pane fade" id="pills-confirmed-bookings" role="tabpanel" aria-labelledby="pills-confirmed-bookings-tab">
      <div class="cards-puppy">
        <% @approved_bookings.each do |booking| %>
            <div class="card-puppy-home">
              <div class="card-puppy">
                <%= cl_image_tag booking.puppy.photos.first.key %>
              </div>
              <div class="p-4">
                <div class="card-puppy-infos">
                  <div>
                    <p class="breed"><%= booking.puppy.breed %></p>
                    <h2><%= booking.puppy.name %></h2>
                    <p class="card-puppy-pricing"><strong>$<%= booking.total_cost_per_night %> total</strong></p>
                    <p class="card-puppy-pricing"><%= booking.start_date.strftime("%b %d, %Y") %> - <%= booking.end_date.strftime("%b %d, %Y") %></p>
                    <%= link_to edit_booking_path(booking) do %>
                      <i class="fas fa-pen-square me-3"></i>
                    <% end %>
                    <%= link_to my_bookings_path(booking), method: :delete do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

      </div>
    </div>


  </div>
</div>
