<div class="card-puppy-home">
  <div id="puppy-<%= puppy.id %>" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
      <% puppy.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= cl_image_tag photo.key, class:'d-block w-100', style:'width: 200px; height: 300px; object-fit: cover;' %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#puppy-<%= puppy.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#puppy-<%= puppy.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="p-4">
    <div class="card-puppy-infos">
      <div>
        <p class="breed"><%= puppy.breed %></p>
        <h2><%= puppy.name %></h2>
      </div>
      <%# image_tag "Photo.jpg", class: "card-puppy-user avatar-bordered" %>
    </div>
    <div class='d-flex align-items-center justify-content-between'>
      <p class="card-puppy-pricing"><span class="price">$<%= puppy.cost_per_night %></span> per night</p>
      <%= link_to 'Learn more', puppy_path(puppy), class: "btn btn-secondary" %>
    </div>

    <% if false %>
      <% if policy(puppy).edit? %>
        <%= link_to edit_puppy_path(puppy) do %>
          <i class="fas fa-pen-square"></i>
          <% end %>
      <% end %>
      <% if policy(puppy).destroy? %>
        <%= link_to puppy_path(puppy), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
