<br>

<h2>Edit puppy details</h2>

<%= simple_form_for @puppy do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :breed %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

<br>
<%= link_to 'Back', puppy_path %>
