<div class="card-puppy">
    <img src="https://images.unsplash.com/photo-1618359057154-e21ae64350b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
    <div class="card-puppy-infos">
      <div>
        <h2>Name</h2>
        <p>Breed</p>
      </div>
      <p class="card-puppy-pricing"><strong>$15 per day</strong></p>
      <%= image_tag "Photo.jpg", class: "card-puppy-user avatar-bordered" %>
    </div>
  </div>



  <% @puppies.each do |puppy| %>
    <div class="card-puppy">
      <%= image_tag "MiniPoodle.jpg", class: "puppy-avatar-bordered" %>
      <div class="card-puppy-infos">
        <div>
          <h2><%= puppy.name %></h2>
          <p><%= puppy.breed %></p>
        </div>
        <p class="card-puppy-pricing"><strong>$15 per day</strong></p>
        <%= image_tag "Photo.jpg", class: "card-puppy-user avatar-bordered" %>
      </div>
      <% if policy(puppy).show? %>
        <%= link_to 'Learn more', puppy %>
      <% end %>
      <% if policy(puppy).edit? %>
        <%= link_to 'Edit', edit_puppy_path(puppy) %>
      <% end %>
      <% if policy(puppy).destroy? %>
        <%= link_to 'Delete :(', puppy_path(puppy), method: :delete %>
      <% end %>
    </div>
  <% end %>


<br>

<%= link_to 'Add a new puppy', new_puppy_path %>
