<%# // ORIGINAL // %>
<div class="container">
  <div class="cards-puppy">
    <% @puppies.each do |puppy| %>
      <div class="card-puppy">
        <% puppy.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "puppy-avatar-bordered" %>
        <% end %>
        <div class="card-puppy-infos">
          <div>
            <h2><%= puppy.name %></h2>
            <p><%= puppy.breed %></p>
          </div>
          <p class="card-puppy-pricing"><strong>$15 per day</strong></p>
          <%= image_tag "Photo.jpg", class: "card-puppy-user avatar-bordered" %>
        </div>
        <% if policy(puppy).show? %>
          <%= link_to 'Book', puppy_path(puppy), class: "btn3 btn-flat" %>
        <% end %>
        <% if policy(puppy).edit? %>
          <%= link_to edit_puppy_path(puppy) do %>
            <i class="fas fa-pen-square"></i>
           <% end %>
        <% end %>
        <% if policy(puppy).destroy? %>
          <%= link_to puppy_path(puppy), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'Add a new puppy', new_puppy_path %>

<%# <div class="container home-container">
  <div class="row">
    <% Puppy.first(3).each do |puppy| %>
      <%# <div class="col-4">
        <%= render 'puppy', puppy: puppy %>
      <%# </div>
    <% end %>
  <%# </div>
</div> %>
