<br>



<div class="container">
  <div class="card-product-top">
    <% @puppy.photos.each do |photo| %>
      <div class="card-product-top-image" style="background-image: url(<%= cl_image_path photo.key %>)"></div>
    <% end %>
    <div class="card-product-info">
      <div>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
      </div>
      <p><strong><%= @puppy.name %></strong></p><br>
      <span><strong>Breed: </strong><%= @puppy.breed %></span><br>
      <span><strong>Address: </strong><%= @puppy.address %></span><br>
      <span><strong>Description: </strong><%= @puppy.description %></span><br><br><br>
      <%= link_to 'Book', new_puppy_booking_path(@puppy.id), class:"btn3 btn-flat" %><br><br>

      <% if policy(@puppy).edit? %>
        <%= link_to edit_puppy_path(@puppy) do %><br>
        <i class="fas fa-pen-square"></i>
      <% end %>
      <% end %>



      <% if policy(@puppy).destroy? %>
        <%= link_to puppy_path(@puppy), method: :delete do %><br>
        <i class="far fa-trash-alt"></i>
      <% end %>
      <% end %>


    </div>


  </div>
    <%= link_to puppies_path do %>
      <i class="fab fa-arrow-alt-left"></i>
    <% end %>


</div>
