<br>



<div class="container">
  <div class="card-product-top">
    <% @puppy.photos.each do |photo| %>
      <div class="card-product-top-image" style="background-image: url(<%= cl_image_path photo.key %>)"></div>
    <% end %>
    <div class="card-product-info">
      <div>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
        <i class="fas fa-heart position-icon"></i>
      </div>
      <p><strong><%= @puppy.name %></strong></p><br>
      <span><strong>Breed: </strong><%= @puppy.breed %></span><br>
      <span><strong>Address: </strong><%= @puppy.address %></span><br>
      <span><strong>Description: </strong><%= @puppy.description %></span><br><br><br>
      <%= link_to 'Book this adorable puppy now!', new_puppy_booking_path(@puppy.id), class:"btn btn-flat" %><br><br>

      <% if policy(@puppy).edit? %>
        <%= link_to 'Edit puppy details', edit_puppy_path(@puppy) %><br>
      <% end %>

      <% if policy(@puppy).destroy? %>
        <%= link_to 'Delete this puppy', puppy_path(@puppy), method: :delete %><br>
      <% end %>

      <%= link_to 'Back to all puppies', puppies_path %>
    </div>
  </div>
</div>
